PORT=8000
MONGODB_DB_NAME=sigemo_db
MONGODB_USERS_COLLECTION=usuarios
MONGODB_ROLES_COLLECTION=roles
MONGODB_PERMISSIONS_COLLECTION=permisos
MONGODB_USER_ROLES_COLLECTION=usuarios_roles
MONGODB_ROLE_PERMISSIONS_COLLECTION=roles_permisos
MONGODB_USER_PERMISSIONS_COLLECTION=usuarios_permisos
DATABASE_URL=mongodb://root:<PASSWORD>@nexus.liderman.net.pe:27017/sigemo_db?authSource=admin
