PORT=8000
MONGODB_DB_NAME=sigemo_db
MONGODB_USERS_COLLECTION=usuarios
MONGODB_ROLES_COLLECTION=roles
MONGODB_USER_ROLES_COLLECTION=usuarios_roles
DATABASE_URL=mongodb://root:<PASSWORD>@nexus.liderman.net.pe:27017/sigemo_db?authSource=admin
